<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img alt="logo" id="header_logo" height="40" src="../../assets/icon/LOGO.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categories</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center-text-container">
    <h1>Categories</h1>
  </div>
  <!-- <div class="ion-padding">
    <h2>{{ categoryName }}</h2>
  </div> -->
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/11.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>Surveillance</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/12.png" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>Access Control ( Lock )</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/13.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>Intercom PABX</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/14.jpg" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>Smart Home Automation</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/15.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>WiFi Camera - Stand Alone System</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/16.png" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>GPS Tracker</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/17.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>4G Router</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/18.png" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>Networking and Peripheral</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/19.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>Security Alarm System</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/20.jpg" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>Cable Convertor Connector</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/21.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>Signal Booster</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/22.png" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>Tools and Clip Pin Tape</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/23.png" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>Robotics</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../assets/icon/24.png" alt="Card image 2" />
        <ion-card-header>
          <ion-card-title>Spy Micro Hidden Camera</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" height="2">
      <ion-card>
        <img src="../../assets/icon/25.jpg" alt="Card image 1" />
        <ion-card-header>
          <ion-card-title>Public Parking Management</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> -->

<div class="subscription-box">
  <h1>Direct buy From security system manufacturer, importer in India</h1>
  <p>Lowest price with best quality</p>
  <p>Get customised security system electronic products on demand</p>
  <div class="email-subscription">
    <input type="email" placeholder="example@gmail.com" />
    <button ion-button>SUBSCRIBE</button>
  </div>
</div>

<ion-item-group class="centered-group">
  <ion-item-divider>
    <ion-label>Categories</ion-label>
  </ion-item-divider>
    <!-- <ion-item button (click)="openCategory('Surveillance')">Surveillance</ion-item> -->
  <ion-item button >Surveillance</ion-item>
  <ion-item button >Access Control ( Lock )</ion-item>
  <ion-item button >Access Control ( Lock )</ion-item>
  <ion-item button >Intercom PABX</ion-item>
  <ion-item button >Smart Home Automation</ion-item>
  <ion-item button >WiFi Camera - Stand Alone System</ion-item>
  <ion-item button >GPS Tracker</ion-item>
  <ion-item button >4G Router</ion-item>
  <ion-item button >Networking and Peripheral</ion-item>
  <ion-item button >Security Alarm System</ion-item>
  <ion-item button >Cable Convertor Connector</ion-item>
  <ion-item button >Signal Booster</ion-item>
  <ion-item button >Show More</ion-item>
  <ion-item button >Show All Categories</ion-item>
  <ion-item-divider>
    <ion-label>Company</ion-label>
  </ion-item-divider>
  <ion-item button>About Us</ion-item>
  <ion-item button>Contact Us</ion-item>
  <ion-item button>Privacy Policy</ion-item>
  <ion-item button>Terms and Conditions</ion-item>
  <ion-item button>Refund Policy</ion-item>
  <ion-item button>Shipping Policy</ion-item>
  <ion-item-divider>
    <ion-label>Contact</ion-label>
  </ion-item-divider>
  <ion-item button>7240226566</ion-item>
  <ion-item button>jenixjain</ion-item>
  <ion-item button>Jain enterprises, 63/79 Heera Path, Mansarovar, jaipur, rajasthan, India - 302020</ion-item>
  <ion-item button>Warranty and RMA</ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <img src="../../assets/icon/fb.png" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <img src="../../assets/icon/li.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img src="../../assets/icon/insta.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <img src="../../assets/icon/you.png" alt="YouTube">
        </a>
      </div>
      <div class="payment-icons">
        <img src="../../assets/icon/g pay.png" alt="G Pay">
        <img src="../../assets/icon/card.png" alt="MASTER CARD">
        <img src="../../assets/icon/paytm.png" alt="Paytm">
        <img src="../../assets/icon/phone.png" alt="PhonePe">
        <img src="../../assets/icon/visa.png" alt="VISA">
      </div>
      <p>© Copyright Fashion 2021. All Rights Reserved. Crafted by GAURAV RAJPUROHIT.</p>
    </div>
  </ion-toolbar>
</ion-footer>
