.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.product-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 1em;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.product-card h2 {
  font-size: 1.25em;
  margin: 0.5em 0;
}

.product-card p {
  font-size: 1em;
  color: #555;
}

.product-card .price {
  font-size: 1.5em;
  color: #333;
  margin: 1em 0;
}

.product-card button {
  background-color: black;
  color: rgb(203, 188, 130);
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.product-card button:hover {
  background-color: rgb(203, 188, 130);
  color: black;
}


ion-item {
    display: flex;
    align-items: center;
    gap: 10px;
  
    ion-input {
      text-align: center;
      width: 50px;
    }
  
    ion-button {
      width: 30px;
      height: 30px;
      font-size: 20px;
      background-color: #333;
    }
  }
  
  .add-to-cart {
    margin-top: 10px;
  }
  