<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MyAccount</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img alt="logo" id="header_logo" height="40" src="../../assets/icon/LOGO.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
  </ion-header>
    <ion-content>
      <div class="container">
        <h2>Login or Signup</h2>
        <form [formGroup]="myAccountForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input formControlName="phoneNumber" type="tel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <button expand="block" type="submit" ion-button>Sign Up</button>
        </form>
        <div class="login-link">
          <p>Already have an account? <a href="#" (click)="goToLogin()">Login</a></p>
        </div>
      </div>
  <div class="subscription-box">
    <h1>Direct buy From security system manufacturer, importer in India</h1>
    <p>Lowest price with best quality</p>
    <p>Get customised security system electronic products on demand</p>
    <div class="email-subscription">
      <input type="email" placeholder="example@gmail.com" />
      <button ion-button>SUBSCRIBE</button>
    </div>
  </div>
  <ion-item-group class="centered-group">
    <ion-item-divider>
      <ion-label>Categories</ion-label>
    </ion-item-divider>
      <!-- <ion-item button (click)="openCategory('Surveillance')">Surveillance</ion-item> -->
    <ion-item button >Surveillance</ion-item>
    <ion-item button >Access Control ( Lock )</ion-item>
    <ion-item button >Access Control ( Lock )</ion-item>
    <ion-item button >Intercom PABX</ion-item>
    <ion-item button >Smart Home Automation</ion-item>
    <ion-item button >WiFi Camera - Stand Alone System</ion-item>
    <ion-item button >GPS Tracker</ion-item>
    <ion-item button >4G Router</ion-item>
    <ion-item button >Networking and Peripheral</ion-item>
    <ion-item button >Security Alarm System</ion-item>
    <ion-item button >Cable Convertor Connector</ion-item>
    <ion-item button >Signal Booster</ion-item>
    <ion-item button >Show More</ion-item>
    <ion-item button >Show All Categories</ion-item>
    <ion-item-divider>
      <ion-label>Company</ion-label>
    </ion-item-divider>
    <ion-item button>About Us</ion-item>
    <ion-item button>Contact Us</ion-item>
    <ion-item button>Privacy Policy</ion-item>
    <ion-item button>Terms and Conditions</ion-item>
    <ion-item button>Refund Policy</ion-item>
    <ion-item button>Shipping Policy</ion-item>
    <ion-item-divider>
      <ion-label>Contact</ion-label>
    </ion-item-divider>
    <ion-item button>7240226566</ion-item>
    <ion-item button>jenixjain</ion-item>
    <ion-item button>Jain enterprises, 63/79 Heera Path, Mansarovar, jaipur, rajasthan, India - 302020</ion-item>
    <ion-item button>Warranty and RMA</ion-item>
    </ion-item-group>
  </ion-content>
  
<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank">
          <img src="../../assets/icon/fb.png" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <img src="../../assets/icon/li.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img src="../../assets/icon/insta.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <img src="../../assets/icon/you.png" alt="YouTube">
        </a>
      </div>
      <div class="payment-icons">
        <img src="../../assets/icon/g pay.png" alt="G Pay">
        <img src="../../assets/icon/card.png" alt="MASTER CARD">
        <img src="../../assets/icon/paytm.png" alt="Paytm">
        <img src="../../assets/icon/phone.png" alt="PhonePe">
        <img src="../../assets/icon/visa.png" alt="VISA">
      </div>
      <p>© Copyright Fashion 2021. All Rights Reserved. Crafted by GAURAV RAJPUROHIT.</p>
    </div>
  </ion-toolbar>
</ion-footer>
