button {
    background-color: black;
    color: rgb(203, 188, 130);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: rgb(203, 188, 130);
    color: black;
}
/* home.page.scss */
.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .checkout-button {
    --background: black;
    --color: white;
    --border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .checkout-button:hover {
    --background: #444;
  }
  
  .subtotal {
    font-size: 18px;
  }
  
  .subtotal span {
    font-weight: bold;
  }
  